@using Data_Product.Models
@using System.Security.Claims;
@using Data_Product.Repositorys;
@using Microsoft.EntityFrameworkCore;
@inject Data_Product.Repositorys.DataContext _context
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="~/Content/assets/Chonse/chosen.jquery.js"></script>
<link href="~/Content/assets/Chonse/chosen.css" rel="stylesheet" />
@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
@{
    int ID = Convert.ToInt32(ViewBag.Data);
    var ID_BBGN = _context.Tbl_BienBanGiaoNhan.Where(x => x.ID_BBGN == ID).FirstOrDefault();
}
@using (Html.BeginForm("TaoPhieu", "BM_11", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "submitForm(event)" }))
{
    <div class="app-main__outer">
        <div class="app-main__inner" style="display:block;padding-bottom: 0px;">
            <div class="tab-content">
                <div class="row">
                    <div class="card">
                        <div style="height: 320px;">
                            <div class="row" style="width:100%">
                                <div style="display: flex;border-bottom: 0.8px solid #E8E8E8;position: fixed;background-color: #F9F9F9;width: -webkit-fill-available;">
                                    <div class="col-8" style="text-align: left;padding: 2%  2%  2% 0%; ">
                                        <span class="text-muted small pt-2 ps-1">
                                            <b style="color:#06428b">
                                                BM.11/QT.05 (Biên bản giao nhận nguyên/nhiên/vật tư)
                                            </b>
                                        </span>
                                    </div><!-- End Recent Sales -->
                                    <div class="col-4" style="text-align: right;padding: 2%  2%  2% 0%; ">
                                        <button type="submit" class="btn btn-primary" name="xacnhan" id="xacnhan" value="0">
                                            <i class="bi bi-floppy"></i>
                                            <span class="small pt-2 ps-1" style="color: white;">
                                                Lưu phiếu
                                            </span>
                                        </button>
                                        <button type="submit" class="btn btn-danger" name="xacnhan" id="xacnhan" value="1">
                                            <i class="bi bi-send"></i>
                                            <span class="small pt-2 ps-1" style="color: white;">
                                                Gửi phiếu
                                            </span>
                                        </button>
                                    </div><!-- End Recent Sales -->

                                </div>
                                <div class="col-lg-12" style="padding-top:7.5%;">
                                </div>
                                <div class="col-lg-12" style="text-align: left;background-color: #f9f9f9;height: 80px;padding: 1.7% 0% 0% 1%;border-radius: 10px;margin-left: 8px;">
                                    <span style="color:black; font-size:14px;">
                                        Kíp 2C - Ngày 01 tháng 10 năm 2024
                                    </span>
                                </div><!-- End Recent Sales -->
                                <div class="col-lg-12" style="display:flex;padding-bottom: 1%;padding-top:1%;">
                                    @{
                                        var TenTaiKhoan = User.FindFirstValue(ClaimTypes.Name);
                                        var TaiKhoan = _context.Tbl_TaiKhoan.Where(x => x.TenTaiKhoan == TenTaiKhoan).FirstOrDefault();
                                        var PhongBan = _context.Tbl_PhongBan.Where(x => x.ID_PhongBan == TaiKhoan.ID_PhongBan).FirstOrDefault();
                                        var PhanXuong = _context.Tbl_Xuong.Where(x => x.ID_Xuong == TaiKhoan.ID_PhanXuong).FirstOrDefault();
                                        var ViTri = _context.Tbl_ViTri.Where(x => x.ID_ViTri == TaiKhoan.ID_ChucVu).FirstOrDefault();
                                    }
                                    <div class="col-xxl-4 col-md-6" style="height: 80px; background-color: #f9f9f9; border-radius: 10px;margin-right: 0.5%;">
                                        <div style="padding-left: 3%;padding-top:3%;">
                                            <span style="color:black; font-size:14px;">
                                                Đại diện bên giao:
                                            </span>
                                        </div>
                                        <div style="padding-left: 3%;">
                                            <span style="color:black; font-size:14px;">
                                                @TaiKhoan.TenTaiKhoan - @TaiKhoan.HoVaTen
                                            </span>
                                        </div>

                                    </div>

                                    <div class="col-xxl-4 col-md-6" style="height: 80px; background-color: #f9f9f9;border-radius: 10px;margin-right: 0.5%;">
                                        <div style="padding-left: 3%;padding-top:3%;">
                                            <span style="color:black; font-size:14px;">
                                                Chức vụ:
                                            </span>
                                        </div>
                                        <div style="padding-left: 3%;">
                                            <span style="color:black; font-size:14px;">
                                                @ViTri.TenViTri
                                            </span>

                                        </div>

                                    </div>

                                    <div class="col-xxl-4 col-md-6" style="height: 80px; background-color: #f9f9f9;margin-right: 1%;border-radius: 10px;">
                                        <div style="padding-left: 3%;padding-top:3%;">
                                            <span style="color:black; font-size:14px;">
                                                BP/NM:
                                            </span>
                                        </div>
                                        <div style="padding-left: 3%;">
                                            <span style="color:black; font-size:14px;">
                                                @PhongBan.TenPhongBan - @PhanXuong.TenXuong
                                            </span>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div style="height: 120px;">
                            <div class="row" style="width:100%">
                                <div class="col-lg-12" style="display:flex;padding-bottom: 1%;">
                                    <div class="col-xxl-4 col-md-6" style="height: 80px; background-color: #f9f9f9;border-radius: 10px;margin-right: 0.5%; ">
                                        <div style="padding:1% 0% 1% 3%;">
                                            <span style="color:black; font-size:14px;">
                                                Đại diện bên nhận <span style="color:red; font-size:14px;"> (*)</span>:
                                            </span>
                                        </div>
                                        <div style="padding-left: 3%;margin-right: 3%;text-align: center;">
                                            @Html.DropDownList("IDTaiKhoan", null, "------ Chọn đại diện bên nhận --------", new { id = "IDTaiKhoan", name = "IDTaiKhoan", @class = "marginTB5", })
                                        </div>
                                        <script type="text/javascript">
                                            $("#IDTaiKhoan").change(function () {
                                                $.get("/BM_11/ChucVu", { IDTaiKhoan: $("#IDTaiKhoan").val() }, function (data) {
                                                    console.log(data)
                                                    if (data[0] != null) {
                                                        $("#IDChucVu").empty();
                                                        //$("#ID_TaiKhoan").append("<option value ='" + null + "'>" + "--Chọn hợp đồng--" + "</option>")
                                                        $.each(data, function (index, row) {
                                                            $("#IDChucVu").append("<option value ='" + row.iD_ChucVu + "' selected>" + row.tenChucVu + "</option>");
                                                        });
                                                    }
                                                    else {
                                                        $("#IDChucVu").empty();
                                                        $("#IDChucVu").append("<option value ='" + 0 + "'>" + "--Không có chức vụ--" + "</option>")
                                                    }
                                                });
                                            });
                                        </script>
                                        <script type="text/javascript">
                                            $("#IDTaiKhoan").change(function () {
                                                $.get("/BM_11/NguyenLieu", { IDTaiKhoan: $("#IDTaiKhoan").val() }, function (data) {
                                                    console.log(data)
                                                    if (data[0] != null) {

                                                        $("#IDVatTu").empty();
                                                        //$("#IDVatTu").append("<option value ='" + null + "'>" + "--Chọn nguyên/nhiên/vật tư--" + "</option>")
                                                        $.each(data, function (index, row) {
                                                            $("#IDVatTu").append("<option value ='" + row.iD_VatTu + "' selected>" + row.tenVatTu + "</option>");
                                                        });
                                                    }
                                                    else {
                                                        $("#IDVatTu").empty();
                                                        $("#IDVatTu").append("<option value ='" + 0 + "'>" + "--Không có nguyên/nhiên/vật tư--" + "</option>")
                                                    }
                                                });
                                            });
                                        </script>
                                    </div>
                                    <div class="col-xxl-4 col-md-6" style="height: 80px; background-color: #f9f9f9;margin-right: 0.5%;border-radius: 10px;">
                                        <div style="padding:1% 0% 1% 3%;">
                                            <span style="color:black; font-size:14px;">
                                                Chức vụ <span style="color:red; font-size:14px;"> (*)</span>:
                                            </span>
                                        </div>
                                        <div style="padding-left: 3%;margin-right: 3%;">
                                            <select class="form-control marginTB5" name="IDChucVu" id="IDChucVu" disabled="disabled">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-md-6" style="height: 80px; background-color: #f9f9f9;margin-right: 0.5%;border-radius: 10px;">
                                        <div style="padding:1% 0% 1% 3%;">
                                            <span style="color:black; font-size:14px;">
                                                BP/NM <span style="color:red; font-size:14px;"> (*)</span>:
                                            </span>
                                        </div>
                                        <script type="text/javascript">
                                            $("#IDTaiKhoan").change(function () {
                                                $.get("/BM_11/PhongBan", { IDTaiKhoan: $("#IDTaiKhoan").val() }, function (data) {
                                                    console.log(data)
                                                    if (data[0] != null) {
                                                        $("#IDPhongBan").empty();
                                                        //$("#ID_TaiKhoan").append("<option value ='" + null + "'>" + "--Chọn hợp đồng--" + "</option>")
                                                        $.each(data, function (index, row) {
                                                            console.log(row.tenChucVu)
                                                            console.log(row.iD_TaiKhoan)
                                                            $("#IDPhongBan").append("<option value ='" + row.iD_PhongBan + "' selected>" + row.tenPhongBan + "</option>");
                                                        });
                                                    }
                                                    else {
                                                        $("#IDPhongBan").empty();
                                                        $("#IDPhongBan").append("<option value ='" + 0 + "'>" + "--Không có chức vụ--" + "</option>")
                                                    }
                                                });
                                            });
                                        </script>
                                        <div style="padding-left: 3%;">
                                            <select class="form-control marginTB5" name="IDPhongBan" id="IDPhongBan" disabled="disabled">
                                            </select>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover" id="table" cellpadding="0">
                                    <thead>
                                        <tr style="font-size:14px;">
                                            <th width="30px" rowspan="3" style="vertical-align:middle;background-color: #f9f9f9">STT</th>
                                            <th class="text-center" rowspan="3" width="500px" style="vertical-align:middle;background-color: #f9f9f9">Tên nguyên/ nhiên/ phụ liệu</th>
                                            <th class="text-center" rowspan="3" width="200px" style="vertical-align:middle;background-color: #f9f9f9">Đơn vị tính</th>
                                            <th class="text-center" rowspan="3" width="200px" style="vertical-align:middle;background-color: #f9f9f9">Lô</th>
                                            <th class="text-center" colspan="5" width="200px" style="vertical-align:middle;background-color: #f9f9f9">Khối lượng vào/ra trong kíp</th>
                                            <th class="text-center" rowspan="3" width="200px" style="vertical-align:middle;background-color: #f9f9f9">Ghi chú</th>
                                        </tr>
                                        <tr style="font-size:14px;">
                                            <th width="150px" rowspan="2" class="text-center" style="vertical-align:middle;background-color: #f9f9f9">W (%)</th>
                                            <th width="150px" colspan="2" class="text-center" style="vertical-align:middle;background-color: #f9f9f9">KL bên giao</th>
                                            <th width="150px" colspan="2" class="text-center" style="vertical-align:middle;background-color: #f9f9f9">KL bên nhận</th>

                                        </tr>
                                        <tr style="font-size:14px;">
                                            <th width="150px" class="text-center" style="vertical-align:middle;background-color: #f9f9f9">Khối lượng</th>
                                            <th width="150px" class="text-center" style="vertical-align:middle;background-color: #f9f9f9">KL quy khô</th>

                                            <th width="150px" class="text-center" style="vertical-align:middle;background-color: #f9f9f9">Khối lượng</th>
                                            <th width="150px" class="text-center" style="vertical-align:middle;background-color: #f9f9f9">KL quy khô</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id="vt">
                                            <th colspan="18" class="font-weight-bold font-size-lg">
                                                <button id="add-vt" type="button" class="btn btn-light border border-white">
                                                    <i class="bi bi-plus-lg"></i>
                                                </button>
                                            </th>
                                        </tr>
                                    </tbody>

                                </table>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}

@{
    int id = 0;
}
<script>
    $(document).ready(function () {
        var i = 2;
        $("#add-vt").click(function () {
            var renderList = $(`<tr>
                                                                            <td class='text-center delItem' >
                                                                                <a class="btn btn-danger btn-sm" title="Xóa">
                                                                                    <i class="bi bi-trash"></i>
                                                                                </a>
                                                                            </td>
                                                                           <td style=''>
                                                                                    <select class="form-control marginTB5 SelectVT" name="VatTu_${i}" id="VatTu_${i}">
                                                                                  <option value ='null'>------ Chọn nguyên/nhiên/vật tư ------</option>
                                                                                @foreach (var item in ViewBag.VTList)
                                                                                {
                                                                                     <option value='@item.Value'>@item.Text</option>
                                                                                }
                                                                                </select>
                                                                            </td>
                                                                             <td >
                                                                                 <input class='form-control' cols='20' id='donvitinh_${i}' name='donvitinh_${i}' placeholder='Đơn vị tính' rows='1'></input>
                                                                                 <span id="Errorfullname_${i}" style="color: red; text-transform: none; font-weight: normal "></span>
                                                                            </td>
                                                                             <td >
                                                                                    <input class='form-control' cols='20' id='lo_${i}' name='lo_${i}' placeholder='Lô' rows='1'></input>
                                                                                <span id="Errorfullname_${i}" style="color: red; text-transform: none; font-weight: normal "></span>
                                                                            </td>
                                                                             <td >
                                                                                    <input class='form-control' cols='20' id='doam_${i}' name='doam_${i}' placeholder='W (%)' rows='1'></input>
                                                                                <span id="Errorfullname_${i}" style="color: red; text-transform: none; font-weight: normal "></span>
                                                                            </td>
                                                                             <td >
                                                                                   <input class='form-control' cols='20' id='khoiluongbg_${i}' name='khoiluongbg_${i}' placeholder='Khối lượng' rows='1'></input>
                                                                                <span id="Errorfullname_${i}" style="color: red; text-transform: none; font-weight: normal "></span>
                                                                            </td>
                                                                             <td >
                                                                                    <input class='form-control' cols='20' id='quykhobg_${i}' name='quykhobg_${i}' placeholder='Khối lượng' rows='1'></input>
                                                                                <span id="Errorfullname_${i}" style="color: red; text-transform: none; font-weight: normal "></span>
                                                                            </td>
                                                                            <td >
                                                                                    <input class='form-control' cols='20' id='khoiluongbn_${i}' name='khoiluongbn_${i}' placeholder='Khối lượng' rows='1'></input>
                                                                                <span id="Errorfullname_${i}" style="color: red; text-transform: none; font-weight: normal "></span>
                                                                            </td>
                                                                            <td >
                                                                                    <input class='form-control' cols='20' id='quykhobn_${i}' name='quykhobn_${i}' placeholder='KL quy khô' rows='1'></input>
                                                                                <span id="Errorfullname_${i}" style="color: red; text-transform: none; font-weight: normal "></span>
                                                                            </td>
                                                                            <td >
                                                                                   <input class='form-control' cols='20' id='ghichu_${i}' name='ghichu_${i}' placeholder='Ghi chú' rows='1'></input>
                                                                                <span id="Errorfullname_${i}" style="color: red; text-transform: none; font-weight: normal "></span>
                                                                            </td>

                                                                        </tr>`);
            i++;
            console.log(i)
            $("#vt").before(renderList);

        });
    });
    $("#table").on("click", ".delItem", function () {
        $(this).closest("tr").remove();
    });

</script>
<script type="text/javascript">
    $("#IDTaiKhoan").chosen({
        width: "100%"
    });
    $("#IDTaiKhoan").chosen({
        width: "100%"
    });

</script>