@model IEnumerable<Data_Product.Models.Tbl_BienBanGiaoNhan>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@using Data_Product.Repositorys;
@inject Data_Product.Repositorys.DataContext _context
@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }

}
<div class="app-main__outer">
    <div class="app-main__inner" style="display:block;padding-bottom: 0px;">
        <div class="tab-content">
            <div class="row">
                <div class="card">
                    <div class="row" style="width:300%; height: 120px;">
                        <div style="display: flex;border-bottom: 0.8px solid #E8E8E8;position: fixed;background-color:#F9F9F9;width: -webkit-fill-available;">
                            <div class="col-8" style="text-align: left;padding: 2%  2%  2% 0%; ">

                                <span class="text-muted small pt-2 ps-1">
                                    <b style="color:#06428b;font-size: 15px;">
                                        PHIẾU YÊU CẦU ĐẾN TÔI
                                    </b>
                                </span>
                            </div>
                        </div>


                    </div>
                    <div class="card-header" style="border-bottom: 0px; padding-bottom:2%;">
                        <div class="row">
                            <div class="col-md-5">
                                <input type="text" id="txtsearch" name="" placeholder="Tìm kiếm" class="form-control" value="@ViewBag.search">
                            </div>
                            <div class="col-md-2" style="text-align:left;">
                                <button class="btn btn-primary" id="btn-search" style="border-radius: 5px;">
                                    <i class="bi bi-search"></i>
                                    <span class="small pt-2 ps-1" style="color: white;">
                                        Tìm kiếm
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="table" cellpadding="0">
                                <thead style="height: 60px; font-size: 14px;">
                                    <tr>
                                        <th width="30px" rowspan="3" style="vertical-align:middle;background-color: #f7f7f7;">STT</th>
                                        <th class="text-center" rowspan="3" width="300px" style="vertical-align:middle;background-color: #f7f7f7;">Nội dung</th>
                                        <th class="text-center" rowspan="3" width="200px" style="vertical-align:middle;background-color: #f7f7f7;">Quy trình</th>
                                        <th class="text-center" rowspan="3" width="200px" style="vertical-align:middle;background-color: #f7f7f7;">Người tạo</th>
                                        <th class="text-center" rowspan="3" width="200px" style="vertical-align:middle;background-color: #f7f7f7;">Người xử lý</th>
                                        <th class="text-center" rowspan="3" width="200px" style="vertical-align:middle;background-color: #f7f7f7;">Ngày tạo</th>
                                        <th class="text-center" rowspan="3" width="200px" style="vertical-align:middle;background-color: #f7f7f7;">Ngày xử lý</th>
                                        <th class="text-center" rowspan="3" width="150px" style="vertical-align:middle;background-color: #f7f7f7;">Tình trạng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int pageno = (int)pager.CurrentPage;
                                        int itemperpage = (int)pager.PageSize;
                                        int RowNo = ((pageno - 1) * itemperpage) + 1;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="text-center" style="font-size:14px;vertical-align:middle;"> 1 </td>
                                            <td style="font-size:14px;">
                                                <a class="nav-link collapsed" href="@Url.Action("Phieudentoi", "XuLyPhieu")">
                                                    BM.11/QT.05 (Biên bản giao nhận nguyên/nhiên/vật tư)
                                                </a>
                                            </td>
                                            <td style="font-size:14px;vertical-align:middle;">Tạo phiếu</td>
                                            @{
                                                var BG = _context.Tbl_TaiKhoan.Where(x => x.ID_TaiKhoan == item.ID_NhanVien_BG).FirstOrDefault();
                                            }
                                            <td class="text-center" style="font-size:14px;vertical-align:middle;">@BG.TenTaiKhoan: @BG.HoVaTen</td>
                                            @{
                                                var BN = _context.Tbl_TaiKhoan.Where(x => x.ID_TaiKhoan == item.ID_NhanVien_BN).FirstOrDefault();
                                            }
                                            <td class="text-center" style="font-size:14px;vertical-align:middle;">@BN.TenTaiKhoan: @BN.HoVaTen</td>
                                            <td class="text-center" style="font-size:14px;vertical-align:middle;">@item.ThoiGianXuLyBG.ToString("dd/MM/yyyy")</td>
                                            <td class="text-center" style="font-size:14px;vertical-align:middle;"></td>
                                            @if(item.ID_TrangThai_BBGN == 0)
                                            {
                                                <td class="text-center" style="font-size:14px;">
                                                    <button type="button" class="btn btn-info" style="width: 120px;">
                                                        <span class="small pt-2 ps-1" style="color: white;">
                                                            Đang lưu
                                                        </span>
                                                    </button>
                                                </td>
                                            }
                                            else if( item.ID_TrangThai_BBGN == 1)
                                            {
                                                <td class="text-center" style="font-size:14px;">
                                                    <button type="button" class="btn btn-warning" style="width: 120px;">
                                                        <span class="small pt-2 ps-1" style="color: white;">
                                                            Đang xử lý
                                                        </span>
                                                    </button>
                                                </td>
                                            }
                                            else if (item.ID_TrangThai_BBGN == 2)
                                            {
                                                <td class="text-center" style="font-size:14px;">
                                                    <button type="button" class="btn btn-success" style="width: 120px;">
                                                        <span class="small pt-2 ps-1" style="color: white;">
                                                            Hoàn tất
                                                        </span>
                                                    </button>
                                                </td>
                                            }
                                            else if (item.ID_TrangThai_BBGN == 13)
                                            {
                                                <td class="text-center" style="font-size:14px;">
                                                    <button type="button" class="btn btn-danger" style="width: 120px;">
                                                        <span class="small pt-2 ps-1" style="color: white;">
                                                            Hủy
                                                        </span>
                                                    </button>
                                                </td>
                                            }
               
                                        </tr>
                                    }
                                </tbody>

                            </table>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>